// Funnel Display - regular
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Funnel Display';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/funnel-display/FunnelDisplay-Regular.ttf') format('truetype')
}

// Funnel Display - bold
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Funnel Display';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/funnel-display/FunnelDisplay-Bold.ttf') format('truetype')
}

// DM Sans - regular
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/dm-sans/DMSans-Regular.ttf') format('truetype')
}

// DM Sans - black
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/dm-sans/DMSans-Black.ttf') format('truetype')
}

// DM Sans - black italic
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'DM Sans';
	font-style: italic;
	font-weight: 900;
	src: url('/fonts/dm-sans/DMSans-BlackItalic.ttf') format('truetype')
}

