// Chakra Petch - regular
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/chakra-petch/ChakraPetch-Regular.ttf') format('truetype')
}

// Chakra Petch - bold
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Chakra Petch';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/chakra-petch/ChakraPetch-Bold.ttf') format('truetype')
}

// Chakra Petch - bold italic
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Chakra Petch';
	font-style: italic;
	font-weight: 700;
	src: url('/fonts/chakra-petch/ChakraPetch-BoldItalic.ttf') format('truetype')
}

// Funnel Display - regular
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Funnel Display';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/funnel-display/FunnelDisplay-Regular.ttf') format('truetype')
}

// Funnel Display - bold
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Funnel Display';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/funnel-display/FunnelDisplay-Bold.ttf') format('truetype')
}

// Michroma - regular
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Michroma';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/michroma/Michroma-Regular.ttf') format('truetype')
}