<header id="top">
    <nav>
        <h1 class="visually-hidden">Elaine Wilberforce</h1>
        <a href="/"><img class="branding" src="/images/lainecedes.png" alt="Elaine "></a>
        <div class="menu">
            <ul class="items">
                <li><a href="/about"><%= title === 'About' ? 'About Me' : 'About' %></a></li>
                <li><a href="/projects"><%= title === 'Projects' ? 'Projects' : 'Projects' %></a></li>
            </ul>
            <button class="menu-button" aria-label="Toggle Menu"></button>
        </div>
    </nav>
</header>