<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href="/css/swiper/swiper-bundle.min.css" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>

    <%- include('partials/header') %>

    <!-- Include the content dynamically based on the route -->
    <%- include('pages/' + content) %>

    <%- include('partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="lib/swiper-bundle.min.js"></script>
    <script defer src="scripts/script.js"></script>
</body>
</html>
