/* Landing page, index */

.projects {
	.project-card {
		picture {
			display: block;
			width: 30rem;
			max-width: 100%;
			padding: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}