// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;

// Colors
$colors: (
		primary: #f26a8d,
		secondary: #f49cbb,
		tertiary: #30bcb3,
		quaternary: #fcefef,
		quinary: #5d576b,

		secondary-accent: #5ec9c0,

		black: #000,
		white: #FFF,

		outline: #5BE8CC,
		ade: #9872FF
);

// Fonts
$font-heading: 'Michroma', sans-serif;
$font-body: 'Funnel Display', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;

$nav-height: 8rem;


